%p<
  Creating resource under
  %strong #{parent}

- if overwrite
  %p
    %strong<
      WARNING: The resource
      %a(href="#{existing_url_read}") #{existing_name}
      already exists. Press the
      %strong #{submit_verb}
      button to replace it with the new content.

%form(method="post" action="#{url_submit}")
  %input(type="hidden" name="_method" value="put")
  %label(for="name") Name:
  %input(name="name" type="text" size="20" value="#{name}")
  %br
  %label(for="type") Type:
  %select(name="type")= type_options
  %br
  %label(for="content") Content:
  %br
  %textarea(name="content" cols="80" rows="20")= content
  %br
  %input(type="submit" value="#{submit_verb}")
  %a(href="#{url_read}") Cancel
