%p
  - if has_content
    Editing #{type}:
  - else
    Creating new resource:
  %strong= name
  - if filepath?
    %br
    %span(style="font-size: 70%;")= filepath

%form{:method => "post", :action => url_submit}
  %input(type="hidden" name="_method" value="put")
  %label(for="type") Type:
  %select(name="type")= type_options
  %br
  %label(for="content") Content:
  %br
  %textarea(name="content" cols="80" rows="20")= yaml_content
  %br
  %input(type="submit" value="Save")
  %a{:href => url_read} Cancel
